<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="repository" value="DatabaseKPIRepository"/>
    <add key="connection" value="CSData"/>
    <!--add key="repository" value="RandomKPIRepository"/-->
    <!--add key="connection" value="RandomData"/-->
    <!--add key="repository" value="FileKPIRepository"/-->
    <!--add key="connection" value="MockData"/-->
    
  </appSettings>

  <connectionStrings>
    <!--add name="CSData"
         providerName="System.IO.File"
         connectionString="[CMDSERIESINSTALL\CLIENTS]\cmdserie.asn"/-->
    <!--add name="CSData"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=localhost;User ID=cmdseries;Password=cmdseries;Initial Catalog=cmdseries;Persist Security Info=False;Pooling=False"/-->
    <!--add name="CSData"
         providerName="System.Data.OracleClient"
         connectionString="Data Source=orcl11g;user id=cmdseries;password=cmdseries"/-->
    <!--add name="CSData"
         providerName="System.Data.Odbc"
         connectionString="DSN=CS08;user id=cmdseries;password=cmdseries"/-->

    <!--add name="RandomData"
         providerName="10"
         connectionString="5"/-->
    <!--VDATA connection string-->
    <!--<add name="CSData"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=oh-vdata-s01;User ID=sonic;Password=sonic;Initial Catalog=hedgehog;Persist Security Info=False;Pooling=False"/>
         -->
    <add name="CSData"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=233d4c10-e551-4711-b80b-a07600e292af.sqlserver.sequelizer.com;User ID=zeticekeiwdciore;Password=F8yVd4WJz5XZMSdaNfV8F3EPrLN7ocuXDVgrXrU8wk3iuGEJXiynURLLBRDzoXuw;Initial Catalog=db233d4c10e5514711b80ba07600e292af;Persist Security Info=False;Pooling=False"/>

    <add name="MockData"
         providerName="System.IO.File"
         connectionString="c:\MockKPI.xml"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>



  <!-- Web.Config Configuration File -->


    <system.web>
      <customErrors mode="Off"/>
    </system.web>

</configuration>